ErrorDocument 403 /error.php?code=403
ErrorDocument 404 /error.php?code=404
ErrorDocument 500 /error.php?code=500

DirectoryIndex index.html index.php /error.php?code=403
AddHandler application/x-httpd-ea-php80 .php

# php_flag register_globals off
# php_value default_charset utf-8
# php_value date.timezone UTC
# php_value max_execution_time 180
# php_value memory_limit 1024M
# php_value post_max_size 200M
# php_value upload_max_filesize 100M

RewriteEngine on
RewriteBase /

# RewriteCond %{HTTPS} !^on$
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
# RewriteCond %{HTTP_HOST} !^emailsender\.domain\.com$ [NC]
# RewriteCond %{HTTP_HOST} !^127\.0\.0\.1$ [NC]
# RewriteRule ^(.*)$ https://emailsender.domain.com/$1 [R=301,L]
# RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?emailsender\.domain\.com/ [NC]
# RewriteCond %{HTTP_REFERER} !^http(s)?://127\.0\.0\.1/ [NC]
# RewriteRule \.(eot|svg|ttf|woff|woff2)$ - [NC,F,L]

RewriteRule ^$ /index.php?action=main-page [L]
RewriteRule ^register$ /index.php?action=register-user [L]
RewriteRule ^activate,([0-9A-Za-z]+),([0-9A-Za-z]+)$ /index.php?action=activate-user&user=$1&code=$2 [L]
RewriteRule ^log-in$ /index.php?action=log-in-user [L]
RewriteRule ^log-out$ /index.php?action=log-out-user [L]
RewriteRule ^reset-password$ /index.php?action=reset-password [L]
RewriteRule ^change-password,([0-9A-Za-z]+),([0-9A-Za-z]+)$ /index.php?action=change-password&user=$1&code=$2 [L]
RewriteRule ^users$ /index.php?action=add-delete-user [L]
RewriteRule ^users,([0-9]+)$ /index.php?action=add-delete-user&level=$1 [L]
RewriteRule ^users,([0-9]+),delete$ /index.php?action=add-delete-user&delete=$1 [L]
RewriteRule ^options$ /index.php?action=app-options [L]
RewriteRule ^lists$ /index.php?action=email-lists [L]
RewriteRule ^emails$ /index.php?action=emails-list [L]
RewriteRule ^emails,([0-9]+),([0-9]+)$ /index.php?action=emails-list&list=$1&level=$2 [L]
RewriteRule ^emails,([0-9]+),delete$ /index.php?action=emails-list&delete=$1 [L]
RewriteRule ^insert$ /index.php?action=insert-email [L]
RewriteRule ^export$ /index.php?action=export-emails [L]
RewriteRule ^import$ /index.php?action=import-emails [L]
RewriteRule ^write$ /index.php?action=write-text [L]
RewriteRule ^write,([0-9]+)$ /index.php?action=write-text&level=$1 [L]
RewriteRule ^write,([0-9]+),delete$ /index.php?action=write-text&delete=$1 [L]
RewriteRule ^write,([0-9]+),edit$ /index.php?action=edit-text&edit=$1 [L]
RewriteRule ^send$ /index.php?action=send-emails [L]
RewriteRule ^subscribe$ /index.php?action=subscribe-newsletter [L]
RewriteRule ^unsubscribe,([0-9]+),([0-9A-Za-z]+)$ /index.php?action=unsubscribe-newsletter&email=$1&code=$2 [L]
