<?php

return
[
    'version' => '1.1.0',
    'installed' => false,
    'registered' => false,
    'admin_email' => 'admin@domain.com',
    'emails_number' => 50,
    'time_period' => 10,
    'unsubscribe_active' => true,
    'unsubscribe_url' => 'https://emailsender.domain.com',
    'newsletter_name' => 'Newsletter'
];
